.first-class{
    font-size: 24px;
    font-style: italic;
    color: red;
}
.parent{
    height: 400px;
    width: 400px;
    border: 1px solid black;
    background-color: blueviolet;
    color: white;
    padding-top: 80px;
    padding-left: 30px;
    text-align: center;
    margin: auto;
    position: relative;
    transition: 1s all ease-in-out;
    cursor: pointer;
}
.parent:hover{
    background-color: black;
    height: 200px;
    width: 200px;
}

.child{
    width:50px;
    height:50px;
    background-color: white;
    border: 100%;
    border-radius: 40px;
    position: absolute;
    transform: translate(-50%) translateY(-50%);
    left: 50%;
    top: 50%;

}
.list{
    list-style: none;
    padding: 0px;
    
}
.img-container{
    text-align: center;
    display: block;
    padding-top:100px;
    padding-bottom: 100px;
}
.img-container-link{
    display: block;
}
.form-container{
    display:inline-block;

}
.form-container input{
    display: block;
}